*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 245, 245);
}
/* 导航栏 */
.daohang-top{
    text-align: left;
    height: 40px;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    justify-content: center;
}
.daohang-top .left{
    margin-right: auto;
    float: left;

}
.daohang-top .right{
    margin-left: auto;
    float: right;
}
.daohang-top a{
    font-size: 12px;
    text-decoration: none;
    color: #B0B0B0;
    margin: 5px;
    line-height: 40px;
    position: relative;
}
.sep {
    margin: 0 .3em;
    color: #424242;
}
.daohang-top .left a img{
    width: 64px;
    height: 64px;
    transform: calc(0);
    opacity: 0;
    position: absolute;
    top: calc(100% + 12px);
    right: calc(100% - 55px);
    background-color: white;
}

/* 分割线 */
.mulu{
    width: 1200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}
.mulu .left{
    width: 100px;
    /* position: absolute; */
    display: block;
    float: left;
}
.mulu img{
    width: 64px;
    height: 64px;
    border-radius: 10px;
    margin:16px 0 0;
}
.mulu .right{
    /* position: relative; */
    width: 800px;
    line-height: 40px;
    display:block;
    left: 100px;
    float: left;
    
    
}
.mulu .right a{
    text-decoration: none;
    color: #333;
    display:inline-block;
    position: relative;
    list-style: none;
}
.mulu .right a li{
    font-size: 20px;
    padding: 30px;
    line-height: 40px;
    position: relative;
    display: block;
}
.mulu .right a span{
    width: auto;
    position: absolute;
    display: block;
    white-space: nowrap;
    top: calc(100%+20px);
    transform: scale(0);
    opacity: 0;
    transition: 0.5s ease ;
    transform-origin: center left;
    /* -webkit-transition:ease 2s; */
    background-color: aqua;
}
.mulu .sousuo{
    display: block;
    float: right;
    /* position: absolute; */
    width: 300px;
    height: 80px;
    left: 900px;
}
.mulu .sousuo input{
    width: 200px;
    height: 35px;
    margin-top: 30px;
}
/* .mulu .sousuo input#2{
    width: 35px;
    height: 35px;
    margin-top: 30px;
} */

.title{
    width: 1200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.title h1{
    font-size: 30px;
    display: block;
}

/* 内容栏 */

.cont{
    width: 1200px;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.cont .lef{
    width: 230px;
    height: 610px;
    float: left;
    display: block;
    position: absolute;
    border-right: 12.5px;
}
.cont .lef a{
    width: 225px;
    height: 605px;
    
    display: flex;
    

}
.cont .lef img{
    height: 605px;
    width: 230px;
}

.cont .rig{
    width:970px;
    height: 610px;
    left: 230px;
    display: block;
    position: absolute;
}
.cont .rig a{
    width: 230px;
    height: 300px;
    border: 5px 0;
    display: flex;
    float: left;
    position: relative;
    margin: 2.5px 0 2.5px 12.5px;
    background-color: white;
}
.cont .rig a .pic{
    width: 230px;
    height: 200px;
}
.cont .rig a .pic img{
    width: 160px;
    height: 160px;
    margin: 20px 35px;
    
}
.cont .rig a .jianjie{
    width: 230px;
    height: 60px;
    margin: 0 5px 10px;
    position: absolute;
    text-align: center;
    top: 200px;
    display: block;
}
.jianjie p.desc{
    font-size: 3px;
    max-width: 210px;
    max-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #B0B0B0;
    margin: 0 10px;
}
.jianjie p.price{
    font-size: 14px;
    color: #ff6700;
    margin-top: 8px;
}
.jianjie h3{
    font-size: 14px;
    color: #333;
    font-weight:normal
}

/* Google的logo 开始*/
.google{
    text-align: center;
    font-size: 50px;
    margin: 30px 10px;
    font-weight: bold;
    word-spacing: -10px;
}
.google span:nth-child(1){
    color: rgb(66, 133, 244);
    font-size: 60px;
}
.google span:nth-child(2){
    color: rgb(234, 67, 53);
}
.google span:nth-child(3){
    color: rgb(251, 188, 5);
}
.google span:nth-child(4){
    color: rgb(66, 133, 244);
}
.google span:nth-child(5){
    color: rgb(52, 168, 83);
}
.google span:nth-child(6){
    color: rgb(66, 133, 244);
}
/* Google的logo 结束 */

/* 轮播图 开始 */

.lunbo{
    width: 1200px;
    height: 460px;
    /* background-color: aqua; */
    margin: auto;
}
.lunbo .right{
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/053d963a35ffe0654dfc2ac3d20466ee.jpg?w=2452&h=920);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 30s lbt infinite;
}
@keyframes lbt{
    0%{background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/053d963a35ffe0654dfc2ac3d20466ee.jpg?w=2452&h=920);}
    25%{background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/485756314f3e3f870d298db61339b891.jpg?thumb=1&w=1379&h=518&f=webp&q=90);}
    50%{background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/fb9e3201ac236e7d93d98d80cd56f185.jpg?thumb=1&w=1379&h=518&f=webp&q=90);}
    75%{background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/1275a0dc0120ef836b93dae7c7489c05.jpg?thumb=1&w=1379&h=518&f=webp&q=90);}
    100%{background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d5bcaeb5b2c0d8853a1f26036951364c.jpg?thumb=1&w=1379&h=518&f=webp&q=90);}
}


/* 轮播图 结束 */








/* 动画效果 */
.cont .rig a:hover,
.cont .rig a:focus,
.cont .rig a:active{
    padding: 0 0 0 0;
    box-shadow: 0 10px 10px gray;
}
.cont .lef a:hover,
.cont .lef a:focus,
.cont .lef a:active{
    box-shadow: 0 10px 10px gray;
}



.daohang-top .left a:hover,
.daohang-top .left a:focus,
.daohang-top .left a:active{
    color: aliceblue;
}

.daohang-top .left a:hover img,
.daohang-top .left a:focus img,
.daohang-top .left a:active  img{
    transform: scale(1);
    opacity: 1;
}



.mulu .right a:hover,
.mulu .right a:focus,
.mulu .right a:active{
    color: orange;
    outline: none;
}
.mulu .right a:hover span,
.mulu .right a:focus span,
.mulu .right a:active span{
    color: black;
    transform: scale(1);
    opacity: 1;
}


