<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="data1.firstName"><br><br>
        名：<input type="text" v-model="data1.lastName"><br><br>
        姓名<span>{{data1.firstName.slice(0,3)}} -{{data1.lastName}}</span>
    </div>
    <script>
        const vm =new Vue({
            el:"#root",
            data:{
                data1:{ 
                    firstName:'zhang',
                    lastName:'san'
                }
            },
            methods:{

            }
        })

    </script>
    
</body>
</html>